variables:
  GIT_DEPTH: "1"

stages:
  - build-shared
  - test-and-scan
  - iac-security

install-commons:
  stage: build-shared
  image: maven:3.8.5-openjdk-17
  script:
    - cd backend/common-service && mvn install -DskipTests
    - cd ../common-student && mvn install -DskipTests
    - cd ../common-exam && mvn install -DskipTests
  artifacts:
    paths:
      - ~/.m2/repository/com/microservices/

backend-tests:
  stage: test-and-scan
  image: maven:3.8.5-openjdk-17
  script:
    - cd backend/api-gateway-service
    - mvn test
  allow_failure: true

frontend-tests:
  stage: test-and-scan
  image: node:18-alpine
  script:
    - cd frontend
    - npm install --legacy-peer-deps
    - npm test  
  allow_failure: true

sonarqube-backend:
  stage: test-and-scan
  image: maven:3.8.5-openjdk-17
  script:
    - cd backend/api-gateway-service
    - mvn verify sonar:sonar -Dsonar.projectKey=devsecops-pipeline -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_TOKEN
