stages:
  - test


backend-unit-tests:
  stage: test
  image: maven:3.8.5-openjdk-17
  script:
    - echo "=== Backend unit tests ==="
    - cd backend         
    - mvn test
  allow_failure: false     


frontend-unit-tests:
  stage: test
  image: trion/ng-cli-karma:latest
  script:
    - echo "=== Frontend unit tests ==="
    - cd frontend        
    - npm install --legacy-peer-deps
    - npm test -- --watch=false --browsers=ChromeHeadless
  allow_failure: true      
