variables:
  GIT_DEPTH: "1"

stages:
  - build-shared
  - test-and-scan
  - security-scan  

install-commons:
  stage: build-shared
  image: maven:3.8.5-openjdk-17
  script:
    - cd backend/common-service && mvn install -DskipTests
    - cd ../common-student && mvn install -DskipTests
    - cd ../common-exam && mvn install -DskipTests
  artifacts:
    paths:
      - ~/.m2/repository/com/microservices/

backend-tests:
  stage: test-and-scan
  image: maven:3.8.5-openjdk-17
  script:
    - cd backend
    - for service in answer-service api-gateway-service course-service exam-service user-service eureka-service zuul-service; do
        echo "Testing $service..."
        cd $service && mvn test && cd ..;
      done
  allow_failure: true

frontend-tests:
  stage: test-and-scan
  image: node:18-alpine
  script:
    - cd frontend
    - npm install --legacy-peer-deps
    - npm test  
  allow_failure: true
sonarqube-sast:
  stage: security-scan
  image: maven:3.8.5-openjdk-17
  script:
    - cd backend
    - for service in answer-service api-gateway-service course-service exam-service user-service eureka-service zuul-service; do
        echo "Running SAST on $service..."
        cd $service && mvn verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=devsecops-pipeline-$service -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_TOKEN && cd ..;
      done
  allow_failure: true

