variables:
  GIT_DEPTH: "1"
  SONAR_HOST_URL: "http://192.168.168.129:9000"
  MAVEN_CLI_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository --batch-mode"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .m2/repository/
    - frontend/node_modules/

stages:
  - build-shared
  - test-and-scan
  - security-scan

install-commons:
  stage: build-shared
  image: maven:3.8.5-openjdk-17
  script:
    - cd backend/common-service && mvn install -DskipTests $MAVEN_CLI_OPTS
    - cd ../common-student && mvn install -DskipTests $MAVEN_CLI_OPTS
    - cd ../common-exam && mvn install -DskipTests $MAVEN_CLI_OPTS
  artifacts:
    paths:
      - .m2/repository/com/microservices/ 
    expire_in: 1 hour

backend-tests:
  stage: test-and-scan
  image: maven:3.8.5-openjdk-17
  needs: ["install-commons"]
  services:
    - mongo:4.4
    - mysql:8.0
  variables:
    SPRING_DATA_MONGODB_URI: "mongodb://mongo:27017/answer-service"
    SPRING_DATASOURCE_URL: "jdbc:mysql://mysql:3306/test_db"
    SPRING_DATASOURCE_USERNAME: "root"
    SPRING_DATASOURCE_PASSWORD: "root"
  script:
    - cd backend
    - |
      for service in answer-service api-gateway-service course-service exam-service user-service eureka-service; do
        echo "Testing $service..."
        (cd $service && mvn clean test -Dspring.profiles.active=test-ci $MAVEN_CLI_OPTS)
      done
  artifacts:
    when: always
    paths:
      - backend/**/target/site/jacoco/jacoco.xml
      - backend/**/target/surefire-reports/
    expire_in: 1 hour
  allow_failure: true


frontend-tests:
  stage: test-and-scan
  image: node:18-alpine
  timeout: 20 minutes
  script:
    - cd frontend
    - npm ci --legacy-peer-deps
    - npm run test -- --coverage --watchAll=false
  artifacts:
    paths:
      - frontend/coverage/
    expire_in: 1 week
    when: always
  allow_failure: true

sonarqube-sast:
  stage: security-scan
  image: maven:3.8.5-openjdk-17
  needs: ["install-commons", "backend-tests"]
  script:
    - cd backend
    - |
      for service in user-service exam-service answer-service course-service api-gateway-service eureka-service; do 
        echo "================ $service ================"
        (cd $service && mvn compile sonar:sonar $MAVEN_CLI_OPTS \
          -Dsonar.projectKey=devsecops-pipeline-$service \
          -Dsonar.host.url=$SONAR_HOST_URL \
          -Dsonar.login=$SONAR_TOKEN \
          -Dsonar.java.binaries=target/classes \
          -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml) || echo "Sonar failed for $service"
      done
  allow_failure: true
