server:
  port: 8082
spring:
  application:
    name: exam-service
  datasource:
    url: jdbc:mysql://mysql:3306/microservices_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
  cors:
    allowed-origins: "*"
    allowed-methods:
      - GET
      - POST
      - PUT
      - DELETE
      - OPTIONS
    allowed-headers: "*"
    allow-credentials: false
    max-age: 3600
eureka:
  client:
    service-url:
      defaultZone: http://eureka-service:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
